@media all and (min-width: 992px) {
	.navbar .nav-item .dropdown-menu{ display: none; }
	.navbar .nav-item:hover .dropdown-menu{ display: block; }
	.navbar .nav-item .dropdown-menu{ margin-top:0; }
}	
.logo{
    padding-left: 150px !important;
    padding-right: 250px !important;
}
.Opcion{
	color:black;
    padding-left: 5px !important;
    padding-right: 25px !important;
	font-size: medium;
    margin-top: .30em;
}
.Opcion:hover{
    color: #330072;
}

.iconos{
	padding-left: 50px !important;
    padding-right: 10px !important;
}
